/************************Course Style **********************/
.course-part{
    width: 100%;
    padding: 5%;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(201, 190, 190);

}
.course-images{
    text-align: center;
}

.course-images img{
    width: 255px;
    height: 210px;
   
}

.course-information{
    text-align: center;
}
button{
    color: white;
    background-color: rgba(98, 119, 4, 0.596);
    width: 145px;
    margin: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button :hover{
    color: yellow;
    background-color: yellowgreen;
}

