/***********Custom CSS in Footer***************/
.card-footer{  
  background-color:#2e4757; 
  padding: 30px 9px 15px 9px; 
  color: rgb(247, 234, 234);  
  width: 100%;    
  position: relative;
  margin-top: 150px;
}
.card-footer .footer-title::after{
  margin-right: auto;
  margin-left: 0;    
  margin-top: 9px;     
  content:"";    
  width: 100px;        
}

.card-footer .get-in-touch i{  
  width: 25px;
  margin-right: 7px;    
}


.card-footer .search input{  
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(247, 240, 240);
  color: rgb(253, 246, 246);
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 3px 5px;
}
.card-footer .search button{  
  background-color:#b2d7f0;
  border:none;
}
.card-footer .search button:hover{  
  background-color:#50aae6;    
}
